body {
    margin: 0;
    font-size: 28px;
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Shadows Into Light', cursive; */
  }
  .header {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-image: url("../images/h1-WoodlandSunset-2.jpg");
    background-size: 100% 100%;

  }
  .my-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(14, 15, 71);
    color: white;
    max-height: 7%;
    font-family: Arial;
    font-size: 8px;
    color: white;
    text-align: center;
    padding-top: -20px;
  }
  .paragraph {
    margin-block-start: .2em;
    margin-block-end: .2em;

  }
  .content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

/* Navbar container */
.navbar  {
    overflow: hidden;
    background-color: rgb(14, 15, 71);
    font-family: Arial;
    z-index: 1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    /* overflow: auto; */
  }
  
  /* Dropdown button */
  .dropdown .dropdown-btn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropdown-btn {
    background-color: rgb(131, 108, 7);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .parallax-child {
    transform-origin: 0 0;
    transform: translateZ(-2px) scale(3);
  }
.grid-container { 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(auto-fill, 200px) ;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px 40px 0px 40px;
    background-image: url("../images/abendstimmung-atmospheric-background-531872.jpg");
    background-size: 100% 100%;
  }
.container {
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0px;
    /* font-size: 30px; */
}
.grid-item-header {
    grid-column: 1 / span 6;
    grid-row: 1/ span 2;
}
.grid-content-about {
  grid-column: 1 / span 6;
  grid-row: 1 / span 6;
  color:black;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 100px;
}
.grid-content-contact {
  grid-column: 1 / span 6;
  /* grid-row: 7 / span 6; */
  color:black;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 100px;

}
.grid-content-portfolio {
  grid-column: 1 / span 6;
  /* grid-row: 13 / span 6; */
  color:black;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 100px;

}
.grid-footer {
    grid-column: 1 / span 6;
    grid-row: 25/ span 3;
}
#grid-item24 {
  color: black;
}
.content-paragraph {
  text-align: justify;
  margin-top: -5px;
  margin-left: 20px;
  margin-right: 20px;
}
#bio-image {
  border: 2px solid brown;
  float: left;
  max-height: 250px;
  margin: 20px;
  margin-top: -0px;
  margin-bottom: 5px;
}
#header-title {
  font-weight: bold;
  color: rgb(9, 9, 155);
  font-size: 48px;
  margin-block-start: .2em;
  margin-block-end: .2em;
}
#header-text {
  font-weight: bold;
  color: rgb(251, 251, 248);
  font-size: 32px;
  margin-block-start: .2em;
  margin-block-end: .2em;
}
