body {
    margin: 0;
    /* font-size: 28px; */
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Shadows Into Light', cursive; */
  }
  .header {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-image: url("../images/h1-WoodlandSunset-2.jpg");
    background-size: 100% 100%;

  }
  #my-footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(14, 15, 71);
    color: white;
    max-height: 7%;
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 0px;
  }
  .paragraph {
    margin-block-start: .2em;
    margin-block-end: .2em;

  }
  .content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

/* Navbar container */
.navbar  {
    overflow: hidden;
    background-color: rgb(14, 15, 71);
    font-family: Arial;
    z-index: 1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    /* overflow: auto; */
  }
  
  /* Dropdown button */
  .dropdown .dropdown-btn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropdown-btn {
    background-color: rgb(131, 108, 7);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .parallax-child {
    transform-origin: 0 0;
    transform: translateZ(-2px) scale(3);
  }
.grid-container { 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(auto-fill, 200px) ;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px 40px 0px 40px;
    background-image: url("../images/abendstimmung-atmospheric-background-531872.jpg");
    background-size: 100% 100%;
  }
.portfolio-labels {
  font-size: 16px;
  font-weight: bold;
  color: blue
}
.container {
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
}
.grid-item {
  margin: 10px;
}
.grid-item > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0px;
    /* font-size: 30px; */
}
.grid-item-header {
    grid-column: 1 / span 6;
    grid-row: 1/ span 2;
}
.grid-content-about {
  grid-column: 1 / span 6;
  grid-row: 1 / span 6;
  color:black;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 100px;
}
.grid-content-contact {
  grid-column: 1 / span 6;
  /* grid-row: 7 / span 6; */
  color:black;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 100px;

}
.grid-content-portfolio2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: repeat(auto-fill, 200px) ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px 40px 0px 40px;
}
.grid-content-portfolio {
  grid-column: 1 / span 6;
  grid-template-columns: 1fr 1fr;
  /* grid-row: 13 / span 6; */
  color:black;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 100px;
}
#grid-item-1 {
  grid-column: 1 / span 3;
  border: 1px solid black;
}
#grid-item-2 {
  grid-column: 2 / span 1;
}
.grid-footer {
    grid-column: 1 / span 6;
    grid-row: 25/ span 3;
}
#grid-item24 {
  color: black;
}
.content-paragraph {
  text-align: justify;
  margin-top: -5px;
  margin-left: 20px;
  margin-right: 20px;
}
#bio-image {
  border: 2px solid brown;
  float: left;
  max-height: 250px;
  margin: 20px;
  margin-top: -0px;
  margin-bottom: 5px;
}
#header-title {
  font-weight: bold;
  color: rgb(9, 9, 155);
  font-size: 48px;
  margin-block-start: .2em;
  margin-block-end: .2em;
}
#header-text {
  font-weight: bold;
  color: rgb(251, 251, 248);
  font-size: 32px;
  margin-block-start: .2em;
  margin-block-end: .2em;
}

form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  /* box-sizing: border-box; */
}
form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}
form #my-button:hover {
  background: rgb(72, 84, 251);
  color: white;
  font-weight: bold;
}

label {
  text-align: left;
  display: block;
  /* padding: 0.5em 1.5em 0.5em 0; */
  padding: 0.1em .1em 0.1em 0.1em;
}
.my-form-labels {
  font-size: 18px;
  padding: 10px;
}
input {
  width: 100%;
  padding: 0.4em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}
#my-button {
  /* float: left; */
  border-radius: 5px 5px 5px 5px;
  width: 40%;
  text-align: center;
}
#portfolio-1 {
  background-image: url("../images/Word-guess-game.JPG");
  background-size: 100% 100%;
} 
#inputs-message {
  height: 16px;
  margin: 10px;
  padding: 0px;
  font-size: 16px;
}
#inputs-email {
  height: 16px;
  margin: 10px;
  padding: 0px;
  font-size: 16px;
}
#inputs-firstname {
  height: 16px;
  margin: 10px;
  padding: 0px;
  font-size: 16px;
}
#inputs-lastname {
  height: 16px;
  margin: 10px;
  padding: 0px;
  font-size: 16px;
}
@media (min-width: 400px) {
  form {
    overflow: hidden;
  }
  label {
    float: auto;
    width: 200px;
  }

  input {
    float: left;
    width: calc(100% - 200px);
  }

  /* button { */
    #my-button {
      /* float: left; */
    text-align: center;
    /* width: calc(100% - 200px); */
    width: calc(75% - 200px);
    font-weight: bold;
    color: black;
  }
}